@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

#info > h1,
#twizzle,
#cycleView,
[data-ng-show="view.extraControls"] > div > *:not(:nth-child(3)),
#hint_stickers,
#hint_stickers ~ *,
#metrics {
  visibility: hidden !important;
  position: absolute;
}

#setup,
#algorithm,
.vs-algorithm-container {
  background: #18232c;
}

#setup:hover,
#setup:focus,
#algorithm,
#algorithm:hover,
#algorithm:focus {
  border: none;
}

.vs-algorithm-container {
  padding: 11px 7px 11px 0;
  border-radius: 5px;
}

#algorithm_wrapper {
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#algorithm_wrapper > .moves {
  padding-top: 3px;
}

.moves {
  border-radius: 5px;
  border: none;
}

#display-wrapper {
  background: none;
}

body {
  background-color: #11191f !important;
}

body,
textarea {
  font-family: "Space Grotesk", sans-serif;
  color: #cfd1d2;
  font-weight: 400;
}

#info-wrapper,
#info h2 {
  background: none;
}

#info h2 {
  text-transform: lowercase;
  font-variant: normal;
  border-top: none;
}

#info {
  padding-right: 32px;
}

#controls {
  margin-top: 15px;
  width: auto;
}

#controls .control {
  width: 80px;
  height: 58px;
  border-radius: 5px;
  background: #18232c;
  color: #cfd1d2;
  text-align: center;
}

#controls .control:not(:nth-child(6)) {
  margin-right: 12px;
}

#progress {
  width: 460px;
  left: 50%;
  transform: translateX(-50%);
}

#progress input {
  border-radius: 6px;
}

.vs-controls-wrapper {
  display: flex;
  justify-content: center;
}

.vs-title {
  font-weight: normal;
  margin-top: 12px;
  margin-bottom: 3px;
  display: block;
}

.vs-speed-range-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 16px;
  align-items: center;
  background: #18232c;
  border-radius: 5px;
  padding: 15px 20px;
}

.vs-speed-section {
  padding: 0;
}

.vs-speed-range {
  accent-color: #3a4b58;
}

#info .vs-copy-link-btn,
#info .vs-copy-link-btn:hover,
#info .vs-copy-link-btn:active {
  width: auto;
  background: #2c363e;
  color: #cfd1d2;
  border-radius: 5px;
  padding: 10px 20px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #444b50 #787e82;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #787e82;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #444b50;
  border-radius: 6px;
  border: 0px none #ffffff;
}
